::-webkit-scrollbar {
    width: 0.3em;
    display: none;
  }
  
  .home-page{
    .recent-tasks{
      display: grid;
      gap: 0.5rem;
      .activity {
          background-color: #fcfcfc;
          padding: 0.5rem 1rem 1rem 1rem;
          border-radius: 0.5rem;
        }
    }
  }