.button{
    font-size: var(--font-size);
    border: none;
    padding: 0.5rem;
    font-weight: bold;
    color: #fff;
    margin-right: 8px;
    margin-bottom: 12px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
    padding: 0.85rem 20px;
    line-height: 1rem;
    border-radius: 4px;
    cursor: pointer;
    min-width: 125px;
    text-align: center;
    &.primary{
        background-color: var(--primary);
        &:hover {
            background-color: var(--primary-focus);
        }
    }
    &.danger {
        background-color: var(--accent);
    
        &:hover {
            background-color: var(--accent-focus);
        }
    }
}