.team-wrapper{
    padding: 0rem 0 1rem 0;
    .team{
        display: flex;
        position: relative;
        height: 200px;
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        .player-0{
            position: relative;
            left: 185px;
            top: 5px;
        }
        .player-1{
            position: relative;
            left: 30px;
            top: 50px;
        }
        .player-2{
            position: relative;
            left: 55px;
            top: 40px;
        }
        .player-3{
            position: relative;
            right: 160px;
            bottom: 30px;
        }
        .player-4{
            position: relative;
            right: 90px;
            bottom: 30px;
        }
        .player-5{
            position: relative;
            right: 220px;
            bottom: 60px;
        }
    }
    h1{
        text-align: center;
        font-family: "Satisfy", cursive !important;
    }
    h2{
        text-align: center;
        font-family: "Satisfy", cursive !important;
        opacity: 0.3;
        padding: 0.5rem 0 0 0;
        font-size: 0.8rem;
    }
}