.team-wrapper{
    padding: 0rem 0 1rem 0;
    .team{
        display: flex;
        position: relative;
        height: 250px;
        // width: 100%;
        margin: 0 auto;
        width: 200px;
        // justify-content: center;
        align-items: center;
        // overflow: hidden;
        a{
            width: 0;
            margin: 0 0 0 -25px;
        }
        h1{
            position: relative;
            top: 0.25rem;
            transition: opacity 0.3s ease;
            opacity: 0;
            line-height: 0rem;
            font-size: 1rem;
            z-index: 1;
        }
        .player{
            &:hover h1 {
                opacity: 1;
            }
        }
        .player-0{
            position: relative;
            left: calc(50% - 20px);
            bottom: 6%;
        }
        .player-1{
            position: relative;
            left: 0%;
            top: 10%;
        }
        .player-2{
            position: relative;
            left: 120%;
            top: 15%;
        }
        .player-3{
            position: relative;
            left: 40%;
            bottom: 25%;
        }
        .player-4{
            position: relative;
            left: 145%;
            bottom: 20%;
        }
        .player-5{
            position: relative;
            left: 115%;
            top: 30%;
        }
        .player-6{
            position: relative;
            left: 130%;
            bottom: 40%;
        }
        .player-7 {
            position: relative;
            left: 125%;
            top: 20%;
        }
        .player-8 {
            position: relative;
            left: 180%;
            top: 20%;
        }
        .player-9 {
            position: relative;
            left: 152%;
            bottom: 30%;
        }
    }
    h1{
        text-align: center;
        font-family: "Satisfy", cursive !important;
    }
    h2{
        text-align: center;
        font-family: "Satisfy", cursive !important;
        opacity: 0.3;
        padding: 0.5rem 0 0 0;
        font-size: var(--font-size);
    }
}