.navigation {
    display: flex;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 1;
    align-items: center;
    justify-content: space-around;
    border-top: 1px solid #eee;

    .navigation-links {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-around;
        // padding: 5px 5px;
        text-align: center;
        font-weight: 500;
    }

    .navigation-link {
        align-items: center;
        justify-content: space-around;
        color: #ddd;
        text-decoration: none;
        padding: 0.5rem;
        text-align: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        font-size: 0.75rem;
        flex: 1;
    }

    .navigation-link:hover,
    .navigation-link.active {
        color: #000;
        cursor: pointer;
    }

    .navigation-center {
        position: relative;
    }

    .navigation-icon {
        font-size: 2em;
    }

    .navigation-addMenu {
        margin-top: -1.6em;
        position: relative;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 0;
        z-index: 1;
    }

    .navigation-addMenu:before {
        content: "\2B22";
        font-size: 2.8em;
        color: var(--accent);
        z-index: -1;
        position: absolute;
    }
}
