:root{
  --primary: #6850ff;
  --success: #52cd57;
  --character-1: #669fdb;
  --character-2: #d66e6e;
  --accent: #df3434;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

}
a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  max-width: 480px;
  padding: 0;
  margin: 0 auto;
}

.text-white {
  color: #fff;
}

.text-bold {
  font-weight: 500;
}

.text-center {
  text-align: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.align-center {
  display: flex;
  justify-content: center;
}

.ui-avatar {
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

/* .ui-avatar .avatar:active,
.ui-avatar .avatar:hover {
  background: #f6f6f6;
  transform: scale(1.1);
  transition: 0.3s;
  box-sizing: border-box;
} */

.ui-card {
  margin: 5px auto;
  background-color: #fcfcfc;
  will-change: transform;
  width: 100%;
  border-radius: 10px;
  box-shadow: 1px 1px 0 1px #f9f9fb;
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}

.ui-card:hover {
  box-shadow: 1px 1px 0 1px #f9f9fb;
}

.rounded {
  border-radius: 50%;
}

.bordered {
  border: 1px solid #000;
}

.bordered-white {
  border: 1px solid #fff;
}

.font-xxl {
  font-size: 1.5em;
}

.font-xxxl {
  font-size: 2em;
}

.font-xl {
  font-size: 1.2em;
}

.font-sm {
  font-size: 0.8em;
}
