.achievement {
  text-align: center;
  cursor: pointer;
  h1 {
    font-size: var(--font-size);
    font-weight: 500;
  }
  h2 {
    font-size: var(--font-size);
  }
  p {
    font-size: var(--font-size-sm);
    opacity: 0.5;
    font-weight: 400;
    padding-bottom: 0.25rem;
  }
  .tooltip-content{
    display: grid;
    gap: 0.5rem;
    padding: 0 0.5rem 0 0.5rem;
    // text-transform: uppercase;
  }
}
